/* dash.css */

/* Styles pour le header */
.header {
    background-color: #000000;
    color: white;
    padding: 40px 0;
    margin-bottom: 20px;
}

h1{
    text-align: left;
}

.custom-navbar {
    background-color: #c58d13;
}

/* Style pour l'image de profil utilisateur */
.navbar .dropdown-toggle .rounded-circle {
    height: 80px;
    
   
}

/* Style pour le texte de l'utilisateur */
.navbar .dropdown-toggle .d-inline-block {
    margin-right: 20px;
}

.navbar .dropdown-toggle h5 {
    margin-bottom: 0;
}

.navbar .dropdown-toggle span {
    font-size: 0.8em;
    color: #ccc; /* Couleur gris clair pour différencier du texte principal */
}

/* Style pour les icônes */
.navbar .nav-link i {
    font-size: 1.5em;
}

/* Style pour le badge de notification */
.badge_noti {
    position: absolute;
    top: 5px;
    right: 15px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 0.8em;
}

/* Style pour le dropdown */
.dropdown-menu {
    background-color: #000000; /* Fond noir pour le dropdown */
}

.dropdown-item {
    color: #fff; /* Texte blanc pour les éléments du dropdown */
}

.dropdown-item:hover {
    background-color: #444; /* Fond gris foncé au survol pour les éléments du dropdown */
}



.sidebar {
    background-color: #000000;
    min-height: 100vh;
    padding-top: 20px;
    margin-right: 0px;
}
.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
}
.sidebar a:hover {
    background-color: #b1adad;
}
.content {
    padding: 20px;
    
}








/* Styles pour les cartes */
.card {
    margin-bottom: 20px;
}

.card-title {
    font-weight: bold;
}

.card-text {
    font-size: 1.2em;
}

/* Styles pour le tableau */
.table {
    margin-top: 20px;
}

.table th {
    background-color: #f8f9fa;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Styles pour les conteneurs */
.container{
    padding: 20px;
}

.row {
    margin-bottom: 20px;
}


footer {
    background-color: #000000;
    color: #fff;
     text-align: center;
    padding: 20px 20px;
    width: 100%;
    bottom: 0;
}