/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style de base */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    line-height: 1.6;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

header{
    background: #000000;
    color: #fff;
    padding: 20px 0;
}
h1{
    text-align: center;
}
/*Bouton creer evenement*/
#btncreerevent{
    background-color: #daa103;
    color: #fff;
}
#btnconnexion{
    background-color: #daa103;
}
/* Style de base pour la barre de navigation */
.navbar {
    background-color: #000000; /* Couleur de fond de la barre de navigation */
}
.navbar-brand {
    font-size: 24px; /* Taille de police  */
}
.navbar-nav .nav-link {
    color: #fff; /* Couleur du texte des liens de navigation */
}
/* Style du menu déroulant */
.dropdown-menu {
    background-color: #000000; /* Couleur de fond du menu déroulant */
}
.dropdown-menu .dropdown-item {
    color: #fff; /* Couleur du texte des éléments du menu déroulant */
}

.dropdown-menu .dropdown-item:hover {
    background-color: #555; /* Couleur de fond au survol des éléments du menu déroulant */
}




footer {
    background-color: #000000;
    color: #fff;
     text-align: center;
    padding: 20px 20px;
    width: 100%;
    bottom: 0;
}



#introduction {
    background: #dab903;
    text-align: center;
    padding: 100px;
    
}
#introduction form input[type="text"] {
    padding: 10px;
    width: 60%;
}
#introduction form button {
    padding: 10px 20px;
    background: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
}




#events .event {
    float: left;
    width: 30%;
    margin: 3% 1.5%;
    background: #fff;
    padding: 60px;
    border-radius: 3px;
    box-shadow: 0 0 5px #000000;
}

#events .event img {
    width: 100%;
    border-radius: 5px;
}

#events .event h3 {
    margin-top: 10px;
}

#events .event p {
    margin: 10px ;
    text-align: left;
}



.btn:hover {
    background: #555;
}
