
{%extends "authentication_template.html"%}
{%load static%}


{%block title%}
    Sign in - Astrakahn Event Accounts
{%endblock%}


{%block form%}
<div class="limiter">
	<div class="container-login100" style="background-image: url({% static '/images/as3.jpg' %});">
		<div class="wrap-login100">
			<form class="login100-form validate-form" method="POST" action="/newpassword/{{code}}">
				{% csrf_token %}
				
				
				<span class="login100-form-title p-b-34 p-t-27">
					<div>Astrakahn Event</div>
					Reset Password
					</span>

					<input type="hidden" id="code" name="code" value="{{code}}">
					<div>{{email}}</div>
					<div class="wrap-input100 validate-input" data-validate = "Enter password">
						<input class="input100" type="password" name="password" placeholder="new password">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="container-login100-form-btn">
							<button class="login100-form-btn">
								Change Password
							</button>
					</div>
				
				
			

				<div>
					<a>Forgot Password?</a>
				</div>
				<a href="/signup/">
					<b><p> dont have account Sing up</p></b>
				</a>
				<div>
					{%if message%}
						<p>{{message}}</p>
					{%endif%}
					
				</div>
			</form>
		</div>
	</div>
</div>

{%endblock%}