{%extends "dashboard_template.html"%}


{%block title%}
{{data.username}} Dashboard - Astrakahn Event Accounts
{%endblock%}


{%block name_page%}
Dashboard
{%endblock%}


{% block main %}
<main class="col-md-9 content">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total des Ventes</h5>
                    <p class="card-text">{{data.total_vente}} Billets</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Revenus Totals</h5>
                    <p class="card-text">{{data.total_revenus}} $</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Événements</h5>
                    <p class="card-text">{{data.total_event}} Événements</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Billets non Vendus</h5>
                    <p class="card-text">... Billets</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Détails des Ventes</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Événement</th>
                                <th scope="col">Date</th>
                                <th scope="col">Billets Vendus</th>
                                <th scope="col">Revenus</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for each in data.all_event %}
                            <tr>
                                <td>{{each.name}} </td>
                                <td>{{each.date}}</td>
                                <td>{{each.sold_place}}</td>
                                <td>{{each.revenus}}$</td>
                                <td><a href="/event/delete/{{each.id}}"><button>Del</button></a>&nbsp;<a href="/event/verify/{{each.id}}"><button>Verify</button></a></td>
                                
                                
                            </tr>
                            {%endfor%}
                            
                            <!-- Ajouter d'autres lignes au besoin -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock %}



