<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signup/" method="post">
        {% csrf_token %}
        name <input type="text" name="name" id="">
        password <input type="password" name="password" id="">
        username <input type="text" name="username" id="">
        first name<input type="text" name="first_name" id="">
        last name<input type="text" name="last_name" id="">
        email<input type="email" name="email" id="">
        <input type="submit" value="">
    </form>
    <!-- if message print  -->
    {%if message %}
        <p>{{message}}</p>
    {%endif%}
</body>
</html>