
{%extends "authentication_template.html"%}
{%load static%}


{%block title%}
    Sign up - Astrakahn Event Accounts
{%endblock%}


{%block form%}
<div class="limiter">
	<div class="container-login100" style="background-image: url({% static '/images/as3.jpg' %});">
		<div class="wrap-login100">
			<form class="login100-form validate-form" method="POST" action="/signup/">
				{% csrf_token %}
				
				
				<span class="login100-form-title p-b-34 p-t-27">
					<div>Astrakahn Event</div>
					Sign Up
				</span>

				

                <div class="wrap-input100 validate-input" data-validate = "Enter username">
					<input class="input100" type="text" name="username" placeholder="username">
					<span class="focus-input100" data-placeholder="&#xf207;"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Enter password">
					<input class="input100" type="password" name="password" placeholder="Password">
					<span class="focus-input100" data-placeholder="&#xf191;"></span>
				</div>

                <div class="wrap-input100 validate-input" data-validate = "Enter username">
					<input class="input100" type="text" name="first_name" placeholder="first name">
					<span class="focus-input100" data-placeholder="&#xf207;"></span>
				</div>

                <div class="wrap-input100 validate-input" data-validate = "Enter username">
					<input class="input100" type="text" name="last_name" placeholder="last name">
					<span class="focus-input100" data-placeholder="&#xf207;"></span>
				</div>

                <div class="wrap-input100 validate-input" data-validate = "Enter email">
					<input class="input100" type="text" name="email" placeholder="Email">
					<span class="focus-input100" data-placeholder="&#xf207;"></span>
				</div>

                <div class="wrap-input100 validate-input" data-validate = "Enter username">
					<input class="input100" type="text" name="name" placeholder="name">
					<span class="focus-input100" data-placeholder="&#xf207;"></span>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Create account
					</button>
				</div>

				
				<div>
					{%if message%}
						<p>{{message}}</p>
					{%endif%}
					{%if not message%}
                        <a href="/login/">
                            <p>sign in</p>
                        </a>
					{%endif%}
				</div>
			</form>
		</div>
	</div>
</div>

{%endblock%}




{% comment %} form action="/signup/" method="post">
        {% csrf_token %}
        name <input type="text" name="name" id="">
        password <input type="password" name="password" id="">
        username <input type="text" name="username" id="">
        first name<input type="text" name="first_name" id="">
        last name<input type="text" name="last_name" id="">
        email<input type="email" name="email" id="">
        <input type="submit" value="">
    </form> {% endcomment %}